#title {
    text-align: center;
}

#color-palette {
  margin-left: 45%;    
}

.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    margin: 2px;
    width: 40px;
}

.pixel {
    border: 1px solid black;
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
}


.button {
    margin-left: 45%;
    margin-top: 15px;

}

.user-interactive {
    text-align: center;
}

#pixel-board {
    text-align: center;
}