.color-palette {
  display: inline-block;
  width: 100%;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 4px;
  width: 40px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pixel-board {
  background-color: white;
  width: 210px;
}

#clear-board {
  background-color: gray;
  height: 20px;
  mar gin: 10px;
  width: 190px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: -2px;
  width: 40px;
}
