body {
    background-image: url(imgs/bg.png);
}

header {
    color: rgb(214, 40, 40);
    font-family: 'Merriweather', serif;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 300px;
}

#title {
    font-family: 'Pacifico', cursive;
    margin-bottom: -10px;
}

#color-palette {
    /* <nav> */
    margin: auto;
    text-align: center;
    width: 650px;

}

.color {
    border: 1px solid black;
    display: inline-block;
    height: 90px;
    width: 90px;
}

#size-wrapper {
    height: 30px;
    margin: auto;
    margin-top: 3px;
    text-align: center;
    width: 500px;
}

/* Mudar o tamanho do quadro */
#board-size {
    border: 1px solid rgb(199, 191, 149);
    border-radius: 15px 0 0 15px;
    box-shadow: 0px 5px 5px rgba(199, 191, 149, 50%);
    color: rgb(156, 149, 112);
    font-family: Verdana;
    font-size: 15px;
    margin-top: 0;
    padding-top: 2px;
    text-align: center;
    width: 300px;
}

::placeholder {
    color: rgb(199, 191, 149);
}

#generate-board {
    border: 1px solid rgb(199, 191, 149);
    border-radius: 0 10px 10px 0;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(199, 191, 149, 50%);
    color: rgb(199, 191, 149);
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, serif;
    height: 19px;
    margin-top: 0;
    padding-top: 1px;
    text-align: center;
    width: 70px;
}

/*Limpar o quadro */
#clear-board {
    border: 1px solid rgb(199, 191, 149);
    border-radius: 15px;
    color: rgb(199, 191, 149);
    cursor: pointer;
    font-family: Verdana;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
}

/* Tabela de pixels */
table {
    margin: auto;
    margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}

#table-wrapper {
    background-color: black;
    margin: auto;
    margin-top: 30px;
}

#colorWell {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}