.color {
  border: 1px solid black;
  display: inline-block;
  height: 100px;
  margin: 15px;
  width: 100px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: blue;
}

#color4 {
  background-color: green;
}

#pixel-board {
  background-color: white;
  border: 1px solid black;
  height: 210px;
  margin: 15px;
  width: 210px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
}
