.color {
  border: solid 1px black;
  border-radius: 50%;
  display: inline-block;
  height: 38px;
  width: 38px;
}

.selected {
  border: solid 1px red;
}

.black {
  background-color: black;
}

.red {
  background-color: rgb(88, 41, 59);
}

.green {
  background-color: rgb(118, 134, 43);
}

.blue {
  background-color: rgb(73, 123, 156);
}

.pixel {
  background-color: white;
  border: solid 1px black;
  display: inline-block;
  height: 38px;
  width: 38px;
}
