.colorPalette {
  display: inline-block;
  width: 100%;
}
.color {
  border: 1px solid black;
  height: 80px;  
  width: 80px;
  display: inline-block;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
    background-color: green;
  }