#title {
    color: blue;

}

  
  .color {
    border: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    height: 52px;
    width: 52px;
  }
  
  
  .pixel {
    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 40px;
    width: 40px;
  }
  
  .pixel_board {
    border-spacing: 0;
  }