.color {
  border: 1px black solid;
  height: 50px;
  margin: -2px;
  width: 50px;
}

#black {
  background-color: black;
}

#pink {
  background-color: pink;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#pixel-board {
  border: 1px solid black;
  height: 200px;
  margin: 10px 0 0 10px;
  padding: 0;
  width: 250px;
}

.pixel {
  background-color: white;
}

#column1 {
  height: 40px;
}

#c1L1 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c1L2 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c1L3 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c1L4 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c1L5 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#column2 {
  height: 40px;
}

#c2L1 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c2L2 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c2L3 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c2L4 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c2L5 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#column3 {
  height: 40px;
}

#c3L1 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c3L2 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c3L3 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c3L4 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c3L5 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#column4 {
  height: 40px;
}

#c4L1 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c4L2 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c4L3 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c4L4 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c4L5 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#column5 {
  height: 40px;
}

#c5L1 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c5L2 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c5L3 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c5L4 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#c5L5 {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
